<!DOCTYPE html>
<html lang="en">
<head>
    <title>Table Visualization</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<table>
    <tr>
        <th>School</th>
    </tr>
        <tr>
            <td>ID</td>
        </tr>
        <tr>
            <td>Name</td>
</table>
<br>
<table>
    <tr>
        <th>Class</th>
    </tr>
        <tr>
            <td>ID</td>
        </tr>
        <tr>
            <td>Class</td>
</table>
<table>
    <tr>
        <th colspan="2">Assessment Areas</th>
    </tr>
    <tr>
        <td>ID</td>
    </tr>
    <tr>
        <td>Name</td>
    </tr>
</table>
<br>
<table>
    <tr>
        <th colspan="4">Student</th>
    </tr>
    <tr>
        <td>ID</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Year Level</td>
    </tr>
</table>
<br>
<table>
    <tr>
        <th colspan="2">Answers</th>
    </tr>
    <tr>
        <td>ID</td>
    </tr>
    <tr>
        <td>Answer</td>
    </tr>
</table>
<br>
<table>
    <tr>
        <th colspan="20">Summary</th>
    </tr>
    <tr>
        <td>ID</td>
        <td>School</td>
        <td>Year</td>
        <td>Student</td>
        <td>Class Name</td>
        <td>Subject</td>
        <td>Answers</td>
        <td>Correct Answers</td>
        <td>Question Number</td>
        <td>Assessment Area</td>
        <td>Sydney Correct Count Percentage</td>
        <td>Sydney Average Score</td>
        <td>Sydney Participants</td>
        <td>Student Score</td>
        <td>Student Total Assessed</td>
        <td>Student Area Assessed Score</td>
        <td>Total Area Assessed Score</td>
        <td>Participant</td>
        <td>Correct Answer Percentage Per Class</td>
        <td>Average Score</td>
        <td>School Percentile</td>
        <td>Sydney Percentile</td>
        <td>Strength Status</td>
        <td>High Distinct Count</td>
        <td>Distinct Count</td>
        <td>Credit Count</td>
        <td>Participant Count</td>
        <td>Award</td>
    </tr>
</table>
<br>
<table>
    <tr>
        <th colspan="2">Awards</th>
    </tr>
    <tr>
        <td>ID</td>
    </tr>
    <tr>
        <td>Name</td>
    </tr>
</table>
<br>
<table>
    <tr>
        <th colspan="2">Subject</th>
    </tr>
    <tr>
        <td>ID</td>
    </tr>
    <tr>
        <td>Subject</td>
    </tr>
</table>

</body>
</html>
